
body {
    font-family: Tahoma;
}

h1 {
    color: #4e6ba9;
    font-size: 2.5rem;
}

h2 {
    color: #4e6ba9;
    font-size: 2rem;
}

p {
    color: #4e6ba9;
    font-size: 2rem;
}